@font-face {
  font-family: SF-Regular;
  src: url('../../fonts/SFProDisplay-Regular.otf');
}

@font-face {
  font-family: SF-Medium;
  src: url('../../fonts/SFProDisplay-Medium.otf');
}

@font-face {
  font-family: SF-Bold;
  src: url('../../fonts/SFProDisplay-Bold.otf');
}