@import url('../css/Main/Fonts.css');
@import url('../css/Main/Colors.css');

.StatusWrapper {
    display: flex;
    height: 40px;
    padding: 15px;
    flex-wrap: nowrap;
}

.StatusIcon {
    height: 27px;
    width: 27px;
    margin: auto 0;
    margin-right: 7px;
    fill: var(--appstatus-synced-color);
}

.StatusContainer {
    margin: auto 0;
}

.StatusMessage {
    margin: auto;
    color: var(--appstatus-synced-color);
    font-family: SF-Medium;
}

.StatusMessage>p {
    margin: 0;
}



.sync-error {
    color: var(--appstatus-error-color) !important;
    fill: var(--appstatus-error-color) !important;
}