@import url(./Main/Colors.css);

ul {
    margin-left: 7px;
    margin-right: 15px;
    padding: 0;
}

.LoginCard {
    height: 55px;
    width: 250px;
    padding: 2px;
    flex-wrap: wrap;
    background-color: white;
    list-style-type: none;
    user-select: none;
    /*border: 1px solid red;*/
    transition: all 0.1s;
}

.LoginCard:active {
    scale: 0.98;
}

.LoginCardContainer {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: transparent;
}

.LoginCardContainer > img {
    height: 45px;
    width: 45px;
    margin: auto 0;
    margin-left: 5px;
    pointer-events: none;
}

.TextZone {
    margin: auto 0;
    margin-left: 7px;
}

.TextZone > p {
    width: 100%;
    font-size: 1.1rem;
    margin: 0;
}

.TextZone > div {
    width: 100%;
    margin: 0;
    font-size: 0.8rem;
}

.LoginDetails {
    width: 100%;
}

.LoginDetailsIcon {
    height: 100px;
    width: 100px;
}



.active-logincard {
    color: white;
    background-color: var(--logincard-selected-bg);
}

.hovered-logincard {
    background-color: var(--logincard-hover-bg);
}